/**
 * Title:  Bigmug Line Flaticon Pack
 * Author: Catalin Fertu
 * Source: http://www.flaticon.com/packs/bigmug-line
 * License:  CC BY 3.0 (http://creativecommons.org/licenses/by/3.0/)
 */

@font-face {
	font-family: "fl-bigmug-line";
	src: url("../fonts/bigmug-line/fl-bigmug-line.eot");
	src: url("../fonts/bigmug-line/fl-bigmug-line.eot#iefix") format("embedded-opentype"),
	url("../fonts/bigmug-line/fl-bigmug-line.woff") format("woff"),
	url("../fonts/bigmug-line/fl-bigmug-line.ttf") format("truetype"),
	url("../fonts/bigmug-line/fl-bigmug-line.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}


[class^="fl-bigmug-line-"]:before, [class*=" fl-bigmug-line-"]:before,
[class^="fl-bigmug-line-"]:after, [class*=" fl-bigmug-line-"]:after {
	font-family: 'fl-bigmug-line';
    font-size: inherit;
	font-weight: 400;
	font-style: normal;
	/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fl-bigmug-line-airplane86:before {
	content: "\e003";
}
.fl-bigmug-line-chat55:before {
	content: "\e015";
}
.fl-bigmug-line-cube29:before {
	content: "\e02c";
}
.fl-bigmug-line-email64:before {
	content: "\e03c";
}
.fl-bigmug-line-equalization3:before {
	content: "\e03e";
}
.fl-bigmug-line-headphones32:before {
	content: "\e053";
}
.fl-bigmug-line-hot67:before {
	content: "\e054";
}
.fl-bigmug-line-paper122:before {
	content: "\e082";
}
.fl-bigmug-line-user143:before {
	content: "\e0d0";
}
